# Database Configuration
POSTGRES_DB=petmatch
POSTGRES_USER=petmatch
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_EXPORTER_DATA_SOURCE=postgresql://petmatch:your_secure_password_here@petmatch-postgres:5432/petmatch?sslmode=disable

# Redis Configuration
REDIS_PASSWORD=your_redis_password_here

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password_here
MINIO_DEFAULT_BUCKETS=petmatch-files

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_grafana_password_here

# Application Configuration
SPRING_PROFILES_ACTIVE=production

# Base address for Grafana
GF_SERVER_ROOT_URL=http://158.160.173.155/grafana/
